@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

  body {
    background-color: #F5F5DC;
    font-family: 'Indie Flower', cursive;
  }
  
  .main{
    width: 80%;
    margin: auto;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #CCCCCC;
    display: flex;
    flex-direction: column;
  }
  
  h1, h2 {
    color: #B8860B;
    text-align: center;
  }
  
  /* Formularios */
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-family: 'Indie Flower', cursive;
  }

  button {
    border-color: #B8860B;
    background-color: #b8870b96;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Indie Flower', cursive;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"], select {
    padding: 5px;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    max-width: 300px;
    font-family: 'Indie Flower', cursive;
    border: none;
    border-bottom: #B8860B;
    text-align: center;
  }
  
  input[type="submit"] {
    background-color: #B8860B;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    border-bottom: #B8860B;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    font-family: 'Indie Flower', cursive;
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #B8860B;
    color: #FFFFFF;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .registro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  .hora {
    text-align: center;
    font-family: 'Indie Flower', bold;
  }
  .success, .error {
    color: #FFFFFF;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
  }
  
  .success {
    background-color: #228B22;
  }
  
  .error {
    background-color: #B22222;
  }